body{
    background-color: lightgray;
    text-align: center;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 100px;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 30px 20px 30px;
    text-align: justify;
}
h1{
    border: 2px dotted rgb(112, 3, 3);
    text transform: ;

}
ul{
    list-style-type: square;
}
ol{
    list-style: upper-roman;
}
.colorRed{
    color: red;
}
#detach{
    color: rgb(223, 45, 13);
    font-size: large;
}