*{
    margin: 0 auto;
}

body{
    background-color: #e2e2e2;
}

table, td, th{
    border-bottom: solid 1px #e2e2e2;
    border-collapse: collapse;
    padding: 7px;
}

th{
    color:darkgrey;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

td{
    text-align: center;
    font-size: 14px;
}

.tdNomeClube{
    text-align: left;
}

.thNomeClube{
    width: 50%;
}

.tdPosicaoClube{
    width: 4%;
}

.thCincoUltimas{
    width: 20%;
}

.tdImgClube{
    width: 5%;
}

.imgClube{
    max-width: 20px;
    max-height: 20px;
}

.divVitoria{
    background-image: url('../');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    float: 
}

.divTudo{
    font-family: arial, sans-serif;

}

.divLinha{
    clear: both;
}

.h2tituloSessao{
    font-size: 20px;
    padding: 10px;
}

.h3tituloGrupo{
    font-size: 14px;
    padding: 5px;
}

#divCabecalho{
    background-color: #162e58;
    min-height: 100px;
    padding: 20px 50px 10px 50px;
}

#h1TituloCabeçalho{
    color: white;
    float: left;
    min-width: 50%;
    font-size: 16px;
    text-align: left;

}

#divClassificacao{
    width: 50%;
    
}

#divGoleadores{
    width: 50%;
    
}

#divPartidas{
    width: 60%;
    
}

#tableClassificacao{
    width: 10%;
    background-color: #ffffff;

}

#tableGoleadores{
    width: 100%;
    background-color: #ffffff;
}

#tablePartidas{
    width: 100%;
    background-color: #ffffff;
}