* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: black;
}

.header-container {
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.container {
    width: 50%;
    padding: 12px;
    margin: 0 auto;
    position: relative;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRME7gRxUvGuPnV7YZq0HbcrIQ0WWQZAW3LLg&usqp=CAU");
}

.menu-principal {
    position: absolute;
    top: 20px;
    right: 0;
}

ul {
    list-style: none;
}

.menu-principal ul li a {
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    margin-right: 14px;
}

.menu-principal ul li a:hover {
    background-color: #15418c;
    padding: 20px;
}

.main-container {
    background-color: blu;
    width: 100%;
    height: 100%;
    position: relative;
    top: 120px;
}

.container-photos {
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
}

.row-one {
    width: 50%;
    margin: 0 auto;
    height: 600px;
}

.column-one {
    width: 47%;
    height: 100%;
    display: inline-block;
    background-color: white;
    margin-right: 10px;
}

.column-two {
    width: 47%;
    height: 100%;
    display: inline-block;
    background-color: red;
}

.image-noticias {
    width: 100%;
    height: 100%;
}

#moreContent {
    display: none;
}

.button-mais-fotos {
    background-color: #15418c;
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    margin-left: 46%;
    margin-bottom: 40px;
}