<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HTML AS</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1 id="titulo">AS - IDW</h1>
    </header>

    <section>
        <nav>
            <h3>Menu</h3>
            <ul class="decorationul">
                <li><a onclick="FuncClick()" href="#">TITULO 1</a></li>
                <li><a onclick="FuncClick()" href="#">TITULO 2</a></li>
                <li><a onclick="FuncClick()" href="#">TITULO 3</a></li>
                <li><a onclick="FuncClick()" href="#">TITULO 4</a></li>
            </ul>
        
        </nav>
        <article>
            <h1>Corpo</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus optio temporibus tempore laudantium accusamus modi architecto, aspernatur, doloremque eum fugit facere aliquam dolore vitae nostrum similique ut corrupti voluptatem deleniti.
                Asperiores aliquam non laboriosam perferendis unde iusto, nisi error adipisci nulla iure repellendus eaque necessitatibus sint sequi cum? Magni, expedita qui. Excepturi recusandae magni ipsum corrupti ab nemo, similique alias!
                Necessitatibus, possimus nulla? Exercitationem quisquam perferendis perspiciatis modi accusamus consectetur numquam, laborum placeat itaque quaerat praesentium incidunt quis recusandae minima, a ducimus harum possimus vitae quia asperiores hic. Optio, quidem!
                Corporis, corrupti, asperiores quis quaerat architecto pariatur dicta eos ullam vero dolorem vitae a deleniti expedita eligendi eveniet est illum. Velit excepturi quos commodi enim necessitatibus laudantium eligendi odio placeat?
                Nobis vitae beatae excepturi aut dolores nulla maiores perferendis odit unde quae provident culpa exercitationem pariatur, assumenda corporis non ducimus mollitia sunt, tempore qui, illum laudantium. Debitis consequatur quos nihil!
            </p>
        </article>
    </section>
    <footer>
        <h2>Avaliação final</h2>
    </footer>
    
</body>
</html>